.btn-cta {
    background-image: $primary-gradient;
    border: none;
    height: 50px;
    border-radius: 25px;
    padding: 13px 20px;
    font-weight: 500;
    color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
    cursor: pointer;
    &:hover {
        background-image: $primary-gradient--hover;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    }
}
