header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    img {
        width: 40%;

        @include tablet {
            width: 30%;
            margin: 20px 0;
        }
        @include desktop {
            width: 20%;
        }
    }
    i {
        position: absolute;
        left: 5%;
        top: 35%;
        font-size: 20px;
        color: $grey;

        @include tablet {
            font-size: 28px;
        }
    }
    
}
.spinner div {
    width: 30px;
    height: 30px;
    background-color: $primary;
}