.menu_item {
    margin-bottom: 12px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: $shadow-cards;  
    opacity: 0;  
    display: flex;
    animation: appear 2s forwards;    

    .menu_item--text_container {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 12px;
        padding-right: 30px;
        width: 100%;

        .menu_item--title_container {
            width: 90%;
                
            h3 {
                margin: 0;
                margin-bottom: 2px;                
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }        
            p {
                width: 90%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: 0;
                font-weight: 300;
            }
        }
        .menu_item--price {
            width: 10%;
            font-weight: 700;
            margin: 0;
        }
    }
    &:hover > .menu_item--checkmark {
        width: 20%;
    }
    .menu_item--checkmark {
        background-color: $secondary;
        width: 0%;
        border-radius: 0 15px 15px 0;
        color: #fff;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: width 0.5s ease-in-out;
    }

}
@keyframes appear {
    0% {
        opacity: 0;
        z-index: 0;
    }
    50% {
        opacity: 0.35;
        z-index: 100;
    }
    100% {
        opacity: 1;
    }
}