.banner-img {
    width: 100%;
    object-fit: cover;

    @include desktop {
        height: 450px;
    }
}
.restaurant-page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: Shrikhand;
        font-size: 28px;
        font-weight: normal;

        @include desktop {
            margin-right: 24px;
        }
    }
    @include desktop {
        justify-content: center;
    }
}
section.menu {
    background-color: $bg;
    border-radius: 40px 40px 0 0;
    padding: 10px 17px 40px 17px;
    position: relative;
    top: -80px;
    margin-bottom: -80px;

    @include desktop {
        width: 80%;
        margin: 0 auto -80px auto;
        padding: 40px 15%;
        
    }
    .menu_course {
        margin-bottom: 40px;
        .menu-items-container {
            animation: bloc 1s forwards;
        }

    }
    h2 {
        font-size: 16px;
        font-weight: 300;
        &::after {
            content: "";
            width: 40px;
            display: block;
            border-bottom: 3px solid $secondary;
            margin-top: 6px;
        }
    }
    .btn-cta {
        width: 200px;
        display: block;
        margin: auto;
    }
}
@keyframes bloc {
    0% {
        transform: translateY(50%) ;
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
    
}