@mixin desktop {
    @media (min-width : 1440px) {
        @content;
    }
}
@mixin tablet {
    @media (min-width : 950px) {
        @content;
    }
}

// animations for menu items appear delay
@for $i from 1 through 4 {
    .menu_item {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.3s;
      }
    }
  }
@for $i from 1 through 4 {
  .plats .menu_item {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.3s + 1s;
      }
    }
  }
@for $i from 1 through 4 {
  .desserts .menu_item {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.3s + 2s;
      }
    }
  }